### Node ###
# Logs
logs
*.log

# Cache
*.pyc
*/_pycache_/

# Archives
*.zip

# Extra Instalation directories
lib/*

#Allow Python Files in top level of Install Directory
!/*.py

# Virtual Environment
venv
venv/*

#Servers
srv/*