### Node ###
# Logs
logs
*.log

# Cache
*.pyc
*/_pycache_/

# Archives
*.zip

# Extra Instalation directories
Installs/*

#Allow Python Files in top level of Installs Directory
!Installs/*.py

# Virtual Environment
venv
venv/*